
.carousel[b-cu2qt1sxl4]{
    display:flex;
   justify-content:center;
    
}
.carousel-inner[b-cu2qt1sxl4]{
    width:650px;
}
.carousel-img-items[b-cu2qt1sxl4]{
    display:flex;
    height:3rem;
}
.carousel-img-items img[b-cu2qt1sxl4] {
  max-width:150px;
  min-width:100px;
  margin:10px;
}
.partners-view h3[b-cu2qt1sxl4]{
    text-align:center;
}
.footer[b-cu2qt1sxl4]{
   
    background-color:#1f0706;
    color:white;
}
.footer-inner[b-cu2qt1sxl4] {
    display: flex;
    width:100%;
    padding: 30px;
    gap:10px;
    justify-content:center;
  
}
.products[b-cu2qt1sxl4] {
    flex-basis:30%;
    display:flex;
    flex-direction:column;
    border-top: solid 2px #808080;
    padding:20px;
    margin-bottom:10px;
    
   
}
.campony-profile[b-cu2qt1sxl4] {
    flex-basis: 30%;
    margin-bottom: 10px;
    border-top: solid 2px #808080;
}
.map[b-cu2qt1sxl4] {
    display: flex;
    justify-content: center;
    flex-basis: 35%;
    margin-bottom: 10px;
    border-top: solid 2px #808080;
}
.logo img[b-cu2qt1sxl4]{
    display:block;
  
}
.logo[b-cu2qt1sxl4]{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
}
.contact-info div[b-cu2qt1sxl4] {
    margin:5px 0 5px 0;
    font-size: 16px;
}
.contact-info span[b-cu2qt1sxl4]{
    font-size:20px;
    margin:5px;
    color:#0218c6;
}
.map span[b-cu2qt1sxl4]{
    font-size:50px;
}
.social-media[b-cu2qt1sxl4]{
    display:flex;
    
}
.social-media a:hover[b-cu2qt1sxl4]{
    background-color:blueviolet;
}
.linkedin[b-cu2qt1sxl4]{
    display:block;
    text-decoration:none;
  
    height:40px;
    width:40px;
  
    margin:5px;
   
}
.twitter[b-cu2qt1sxl4] {
    display: block;
    text-decoration: none;
  
    height: 40px;
    width: 40px;
  
    margin: 5px;
}
.facebook[b-cu2qt1sxl4] {
    display: block;
    text-decoration: none;
    height: 40px;
    width: 40px;
    margin: 5px;
}
.products a[b-cu2qt1sxl4]{
    display:block;
    text-decoration:none;
    width:100%;
    color:white;
    padding:10px;
    margin:0;
}
.products a:hover[b-cu2qt1sxl4] {
   
   background-color:chocolate;
}
.map[b-cu2qt1sxl4]{
    padding:20px;

}
.map-layout[b-cu2qt1sxl4] {
    height:300px;
    width:300px;
    font-size: 20px;
}
.map-layout:hover[b-cu2qt1sxl4] {
   
    font-size: 20px;
    cursor:pointer;
}
@media (max-width: 800px) {
    .footer-inner[b-cu2qt1sxl4]{
        flex-direction:column;
    }
}