@using ElwaldeEquipment.Data;

<div class="equip-card">
    <img src="@Equipment!.CardImageUrl" />
    <div class="equip-card-body">
        <h4 class="equip-card-name">@Equipment.Name</h4>
        <h5 class="equip-card-source">@Equipment.SourceShort</h5>
        <StarRating Value="@Equipment.Reviews.AverageRating()" />
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Equipment? Equipment { get; set; }

    protected override void OnParametersSet()
    {
        ArgumentNullException.ThrowIfNull(Equipment);
    }
}
